/* General styles for the body */
body {
    font-family: Arial, sans-serif; /* Set a clean font for the entire page */
    background-color: #e8caca; /* Light gray background */
    color: #333; /* Dark gray text color */

}

